img.kek {
    border-radius: 7px;
    opacity: 1;
}
img.kek:hover {
    transform: translate3d(1px, -1px, 1px);
    cursor: pointer;
}
#carousel img {
    width: 100%;
    height: auto;
    padding: 0 3px;
    -webkit-filter: grayscale(10%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%), 0 16px 16px rgb(0 0 0 / 10%);
    transition: 0.3s;
}
.owl-wrapper-outer {
    margin-top: 25px;
}
.arrow {
    border: solid #e2e2e2;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 9px;
    margin: 0 22px;
}

.arrright {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrleft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
