.movielist {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    max-height: 800px;
    overflow: scroll;
    background: #00000047;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 1s;
    overflow-x: hidden
}

p.overview {
    font-size: 8px
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: .1ch;
    line-height: 1;
    padding-bottom: .5em;
    margin-bottom: 1rem;
    position: relative
}

.heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0
}

.description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem
}

.card {
    color: inherit;
    cursor: pointer;
    width: calc(19% - 2rem);
    min-width: calc(19% - 2rem);
    height: 270px;
    min-height: 270px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin: 1rem;
    position: relative
}

@media screen and (max-width:800px) {
    .card {
        width: calc(50% - 2rem)
    }
}

@media screen and (max-width:500px) {
    .card {
        width: 100%
    }
}

.back,
.front {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: ease-in-out 0.6s
}

.front {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif
}

.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: .25;
    z-index: -1
}

.card:hover .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.card:nth-child(even):hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.back {
    background: #17171796;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    padding: 0 2em
}

.card:hover .back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

.card:nth-child(even) .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.card:nth-child(even):hover .back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

.button {
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    padding: .5em 1em;
    border-radius: 100px;
    font: inherit;
    background: linear-gradient(135deg, #e65c1a, #f72ec2);
    border: none;
    position: relative
}

.button:before {
    transition: 0.3s ease;
    position: absolute;
    display: block;
    content: "";
    -webkit-transform: translateZ(-40px);
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, .25);
    background-color: rgba(26, 87, 230, .25)
}

.button:hover {
    -webkit-transform: translateZ(55px);
    transform: translateZ(55px)
}

.button:hover:before {
    -webkit-transform: translateZ(-55px);
    transform: translateZ(-55px)
}

.button:active {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px)
}

.button:active:before {
    -webkit-transform: translateZ(-20px);
    transform: translateZ(-20px);
    top: 12px
}

.movielist::-webkit-scrollbar {
    width: 11px;
    height: 10px;
    border: 0 solid #444;
    border-top: 0;
    border-bottom: 0;
    background-color: rgba(26, 26, 26, 1)
}

.movielist::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border: 0 solid #666;
    border-radius: 10px
}